*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(45deg, #ee3478 0%, #dc662b 99%, #e6dcd9 100%);
    border-bottom: 5px solid #f39508;
  }
  
  .navbar #brand {
    color: #fff;
    font-size: 2rem;
    padding: 0 7%;
  }
  
  .navbar #brand span {
    color: #24a7ff;
  }
  
  .navbar-nav {
    width: 40%;
    height: 100%;
    padding: 0 7%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style: none;
  }

  .navbar a{
      background-image: linear-gradient(45deg,#dc662b  0%,#ee3478  99%, #e6dcd9 100%);
      margin: 6px ;
  }

  .nav-item{
      color: #fff
  }
  
  .navbar-nav .nav-item {
    text-align: center;
  }
  
  .navbar-nav .nav-item .item-link {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    color: var(--white-smoke);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #f5f1f100;
  }
  
  .navbar-nav .nav-item .item-link:hover {
    background-color: var(--shadow);
    border: 1px solid #ffffff4d;
  }


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.hero{
    background-image: linear-gradient(10deg, rgba(240, 178, 97, 0.699) 20%, rgba(85, 27, 35, 0.692) 100%), url("https://upload.wikimedia.org/wikipedia/commons/4/45/Figueirinha_I_Central.JPG");
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 60px;
}

.textos-hero p{
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #a18cd1;
    border-radius: 8px;
    color: #fff;
}

.textos-hero a:hover{
    background: #645583;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos gerais */

.container,
.wave-conteudo{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 50px 0;
}

.conteudo-textos-main{
    padding-left: 70px;
}

span {
    color: #ee9106;
}
.container{
    padding: 50px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.paragrafo{
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px;
}

.cta{
    display: flex;
    text-decoration: none;
    background-image: linear-gradient(45deg, #ee3478 0%, #dc662b 99%, #e6dcd9 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.cta:hover {
    background: linear-gradient(45deg, #e4719b 0%, #d48862 99%, #e6dcd9 100%);
}

/* Info */

.info{
    background: #ec7525;
    color: #fff;
}

/* fotos */

.galeria{
    background: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

/* info2 */

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}


/* footer */

footer{
    background: #f5576c;
    color: #fff;
}

@media screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }
    /* estilos gerais */
    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    /* section */
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    /* Cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .conteudo-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }


}

@media screen and (max-width:400px){
    .titulo,
    .textos-hero h1{
        font-size: 30px;
    }

    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }

    .card{
        height: 380px;
    }

    .website .conteudo-textos-main{
        margin-bottom: 30px;
    }

    .galeria-cont>img{
        width: 97%;
    }
}